<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>シヴァ（Shiva）</key>
	<dict>
		<key>description</key>
		<string>三大神の一人で「破壊の神」</string>
		<key>trait</key>
		<string>額には第三の目がある</string>
		<key>image</key>
		<string>Shiva.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ブラフマー（Brahma）</key>
	<dict>
		<key>description</key>
		<string>三大神の一人で、”世界の創造”を司る神。</string>
		<key>tarait</key>
		<string>四つの頭を持った白髭の神</string>
		<key>image</key>
		<string>Brahma.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ドゥルガー（Durga）</key>
	<dict>
		<key>description</key>
		<string>シヴァの第二の妻で、戦いの女神</string>
		<key>tarait</key>
		<string>獅子に乗り、武器を持つ美しい美女と</string>
		<key>image</key>
		<string>Durga.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ガネーシャ（Ganesa）</key>
	<dict>
		<key>description</key>
		<string>富、学問、幸運を司る。父はシヴァ、母はパールヴァティー</string>
		<key>tarait</key>
		<string>頭が象で身体が人間。太鼓腹で片方の牙が欠けている。</string>
		<key>image</key>
		<string>Ganesa.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ラクシュミー（Lakshmi）</key>
	<dict>
		<key>description</key>
		<string>美と富の女神ヴィシュヌ神の妻。</string>
		<key>tarait</key>
		<string>4本の腕に蓮の花を持つ</string>
		<key>image</key>
		<string>Lakshmi.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ナンディン（Nandin）</key>
	<dict>
		<key>description</key>
		<string>シヴァの乗り物とされる聖なる牛。</string>
		<key>tarait</key>
		<string>乳白色の牡牛</string>
		<key>image</key>
		<string>Nandin.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>スカンダ（Skanda）</key>
	<dict>
		<key>description</key>
		<string>戦いの神。韋駄天様。ムルガン（Murugan）とも呼ばれる。</string>
		<key>tarait</key>
		<string>槍を携え、孔雀を騎乗獣にしている</string>
		<key>image</key>
		<string>Skanda.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>パールヴァティ（Parvathi）</key>
	<dict>
		<key>description</key>
		<string>シヴァの奥さん。軍神スカンダや、学問の神ガネーシャの母。</string>
		<key>tarait</key>
		<string>シヴァと一緒になって描かれることがほとんど。</string>
		<key>image</key>
		<string>Parvathi.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ヴィシュヌ（Vishnu）</key>
	<dict>
		<key>description</key>
		<string>三大神の一人で、世界の維持神。</string>
		<key>tarait</key>
		<string>４本の手にシンボルの武具を持つ</string>
		<key>image</key>
		<string>Vishnu.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>アグニ（Agni）</key>
	<dict>
		<key>description</key>
		<string>インド神話の火神</string>
		<key>tarait</key>
		<string>赤色の体に炎の衣を纏い、三つの頭と腕</string>
		<key>image</key>
		<string>Agni.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ダーキニー（Dakini）</key>
	<dict>
		<key>description</key>
		<string>インドの魔女</string>
		<key>tarait</key>
		<string>日本とも縁が深く、お稲荷さんのご本尊</string>
		<key>image</key>
		<string>Dakini.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ハヌマーン（Hanuman）</key>
	<dict>
		<key>description</key>
		<string>インド神話におけるヴァナラ（猿族）の1人</string>
		<key>tarait</key>
		<string>西遊記の孫悟空のモデル</string>
		<key>image</key>
		<string>Hanuman.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>インドラ（Indra）</key>
	<dict>
		<key>description</key>
		<string>ヒンドゥー教の神話の主神。仏教での漢訳では「帝釈天」。</string>
		<key>tarait</key>
		<string>白像（アイラーヴァタ）に乗る</string>
		<key>image</key>
		<string>Indra.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ジャガンナート（Jagannatha）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の化身の一つとしてヒンドゥー教に吸収された神様</string>
		<key>tarait</key>
		<string>元々は土着の神様</string>
		<key>image</key>
		<string>Jagannatha.gif</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>カーリー（Kali）</key>
	<dict>
		<key>description</key>
		<string>パールヴァティーの憤怒相とされる</string>
		<key>tarait</key>
		<string>生首もって踊りまくっている女神様</string>
		<key>image</key>
		<string>Kali.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>カーマ（Kama）</key>
	<dict>
		<key>description</key>
		<string>ヒンドゥー教における愛の神</string>
		<key>tarait</key>
		<string>オウムに乗り、サトウキビの弓と花の矢を持つ。</string>
		<key>image</key>
		<string>Kama.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>クリシュナ（Krsna）</key>
	<dict>
		<key>description</key>
		<string>インド神話に登場する英雄。</string>
		<key>tarait</key>
		<string>クジャク羽ついた冠と笛を持っている</string>
		<key>image</key>
		<string>Krsna.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ミーナクシー（Minakshi）</key>
	<dict>
		<key>description</key>
		<string>南インドのマドゥライを護る女神様</string>
		<key>tarait</key>
		<string>魚の目を持つお魚の女神様</string>
		<key>image</key>
		<string>Minakshi.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ナーガ（Naga）</key>
	<dict>
		<key>description</key>
		<string>男はナーガ。女はナーギーと呼ばれる。</string>
		<key>tarait</key>
		<string>インドの蛇神様</string>
		<key>image</key>
		<string>Naga.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ラーマ（Rama）</key>
	<dict>
		<key>description</key>
		<string> ヴィシュヌ神が人間として生まれ変わった姿</string>
		<key>tarait</key>
		<string>弓矢を持ってる。叙事詩「ラーマーヤナ」の主人公</string>
		<key>image</key>
		<string>Rama.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>サラスヴァティ（Sarasvati）</key>
	<dict>
		<key>description</key>
		<string>もとは河の神、のちに学問・芸術の女神</string>
		<key>tarait</key>
		<string>楽器（ヴィーナ）を持ち、蓮の花に乗ってる。</string>
		<key>image</key>
		<string>Sarasvati.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>マツヤ（Matsya）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の第1のアヴァターラ（化身）</string>
		<key>tarait</key>
		<string>半魚人</string>
		<key>image</key>
		<string>Matsya.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>クールマ（Kurma）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の第2の化身（アヴァターラ）</string>
		<key>tarait</key>
		<string>半分亀</string>
		<key>image</key>
		<string>Kurma.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ラーヴァナ（Ravana）</key>
	<dict>
		<key>description</key>
		<string>インドにおける魔王の1人</string>
		<key>tarait</key>
		<string>10の頭、20の腕と銅色の目を持つ。</string>
		<key>image</key>
		<string>Ravana.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ヴァラーハ（Varaha）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の第3の化身（アヴァターラ）</string>
		<key>tarait</key>
		<string>イノシシの顔</string>
		<key>image</key>
		<string>Varaha.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ナラシンハ（Nrisimha）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の第4の化身（アヴァターラ）</string>
		<key>tarait</key>
		<string>人獅子。頭がライオン。</string>
		<key>image</key>
		<string>Nrisimha.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ヴァーマナ（Vamana）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の第5の化身（アヴァターラ）</string>
		<key>tarait</key>
		<string>少年の修行僧</string>
		<key>image</key>
		<string>Vamana.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>パラシュラーマ（Parasurama）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の第7の化身（アヴァターラ）</string>
		<key>tarait</key>
		<string>斧を持っている斧の達人</string>
		<key>image</key>
		<string>Parasurama.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ブッダ（Budha）</key>
	<dict>
		<key>description</key>
		<string>ヴィシュヌ神の第9の化身（アヴァターラ）</string>
		<key>tarait</key>
		<string>仏教のトップ</string>
		<key>image</key>
		<string>Budha.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>ヤマ（Yama）</key>
	<dict>
		<key>description</key>
		<string>仏教では「閻魔大王」のこと</string>
		<key>tarait</key>
		<string>青い肌で水牛に乗っている</string>
		<key>image</key>
		<string>Yama.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
	<key>スーリヤ（Surya）</key>
	<dict>
		<key>description</key>
		<string>インド神話に伝わる太陽神</string>
		<key>tarait</key>
		<string>7頭の馬の馬車に乗ってる</string>
		<key>image</key>
		<string>Surya.jpg</string>
		<key>wikipedia</key>
		<string></string>
	</dict>
</dict>
</plist>
